body {
  background-color: hsl(212, 45%, 89%);
  font-family: Outfit;
}

p {
  text-align: center;
  position: relative;
}

img {
  position: relative;
  left: 15px;
  right: 15px;
  border-radius: 20px;
  margin-top: 15px;
}

#container {
  border-radius: 20px;
  background-color: hsl(0, 0%, 100%);
  margin: auto;
  position: absolute;
  width: 325px;
  left: 0;
  right: 0;
  height: 500px;
  top: 0;
  bottom: 0;
}

#card-title {
  font-weight: 700;
  color: hsl(218, 44%, 22%);
  font-size: 22px;
  width: 260px;
  margin: 17px auto;
}

#card-text {
  font-weight: 400;
  color: hsl(220, 15%, 55%);
  font-size: 15px;
  width: 260px;
  margin: auto;
}
